body {
	font-family: 'Open Sans', Arial, sans-serif;
    margin: 0em;
    height: 100%;
}

header {
    background-color: rgb(207, 179, 233);

}


.text-uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}
.text-white {
    color: #b71ccc;
}


#bg {
    background-image:url("/assets/images/Violette.jpg");
    height: 75%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    margin-bottom: 0;
}


#worship-box {
height: 27em;
width: 27em;
background-image: url("/assets/images/beautiful-clouds.jpg");
float: left;
position: relative;
left: 290px;
top: 30px;
border-radius: 20%;
rotate: -50deg;

}

#worship-box:hover {
    opacity: 0.5;
}


#therapy-box {

    height: 27em;
    width: 27em;
    background-image: url("/assets/images/beautiful-clouds.jpg");
    float: right;
    position: relative;
    right: 290px;
    top: 30px;
    z-index: 1;
    border-radius: 20%;
    rotate: 50deg;
   
}

#therapy-box:hover {
    opacity: 0.5;
}

.about-us-box {

}

#w-text-rotate {
    rotate: 50deg;
    position: relative;
    top:33% ;
}

#t-text-rotate {
    rotate: -50deg;
    position: relative;
    top:33% ;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}



   

#f-bg {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(207, 179, 233);
    text-align: center;
    height: 13%;
    
}
 footer div {
    color: #fff;
 }